<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #add;
        }
    </style>
</head>
<body>
    <div id = "app">
        <h2>사용자 목록</h2>
        <div>
            정렬기준:
            <label><input type="radio" name="orderBy" value="id" v-model="orderBy">id</label>
            <label><input type="radio" name="orderBy" value="name" v-model="orderBy">name</label>
            <label><input type="radio" name="orderBy" value="username" v-model="orderBy">username</label>
            <label><input type="radio" name="orderBy" value="phone" v-model="orderBy">phone</label>
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>username</th>
                    <th>phone</th>
                    <th>company</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in sortedUsers" :key="user.no">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.company.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const users = [
            { id: 1, name: "Leanne Graham", username: "Bret", phone: "1-770-736-8031", company: { name: "Romaguera-Crona" } },
            { id: 2, name: "Ervin Howell", username: "Antonette", phone: "010-692-6593", company: { name: "Deckow-Crist" } },
            { id: 3, name: "Clementine Bauch", username: "Samantha", phone: "1-463-123-4447", company: { name: "Romaguera-Jacobson" } },
            { id: 4, name: "Patricia Lebsack", username: "Karianne", phone: "493-170-9623", company: { name: "Robel-Corkery" } },
            { id: 5, name: "Chelsey Dietrich", username: "Kamren", phone: "(254)954-1289", company: { name: "Keebler LLC" } },
            { id: 6, name: "Mrs. Dennis Schulist", username: "Leopoldo_Corkery", phone: "1-477-935-8478", company: { name: "Considine-Lockman" } },
            { id: 7, name: "Kurtis Weissnat", username: "Elwyn.Skiles", phone: "210.067.6132", company: { name: "Johns Group" } },
            { id: 8, name: "Nicholas Runolfsdottir V", username: "Maxime_Nienow", phone: "586.493.6943", company: { name: "Abernathy Group" } },
            { id: 9, name: "Glenna Reichert", username: "Delphine", phone: "(775)976-6794", company: { name: "Yost and Sons" } },
            { id: 10, name: "Clementina DuBuque", username: "Moriah.Stanton", phone: "024-648-3804", company: { name: "Hoeger LLC" } }
        ];

        let vm = Vue.createApp({
            name: "app",
            data() {
                return {
                    orderBy: 'id',
                };
            },
            computed: {
                sortedUsers() {
                    const orderBy = this.orderBy;
                    users.sort(function(u1, u2){
                        if (u1[orderBy] > u2[orderBy])  return 1;
                        else if (u1[orderBy] === u2[orderBy]) return 0;
                        else return -1;
                    });
                    return users;
                },
            },
        }).mount("#app");
    </script>
</body>
</html>